################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v2/TomF.EventControl.Outstation/TomF.EventControl.Outstation.csproj.user
/v2/.vs
/v2/ax25lib/obj
/v2/ax25lib/bin
/v2/.vscode
/v2/Digipeater/obj
/v2/Digipeater/bin
